In [1]:
x= "PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [2]:
fruits = ['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [4]:
msg= 'The Knights Radiant'
for char in msg:
    print(char)

T
h
e

K
n
i
g
h
t
s

R
a
d
i
a
n
t

In [7]:
for i in range(6):
    print('you got point' ,i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [8]:
for num in range(2,11):
    print('sheep' ,num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [9]:
for num in range(1,10,3):
    print('level' ,num)

level 1
level 4
level 7

# While loop

In [2]:
x= 1
while x<5:
    print('run')
    x+=1
print('stop')

run
run
run
run
stop

In [12]:
n=10
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("The sum is", sum)

The sum is 55

In [14]:
a=[1,2,3,0,4,5,0,0,6,7,0,8,9,10]
for i in a:
    print(i)

1
2
3
0
4
5
0
0
6
7
0
8
9
10

# continue

In [18]:
a=[1,2,3,0,4,5,0,0,6,7,0,8,9,10]
for i in a:
    if i==0:
        continue    
    print(i)

1
2
3
4
5
6
7
8
9
10

we can avoid continue in small codes:

In [19]:
a=[1,2,3,0,4,5,0,0,6,7,0,8,9,10]
for i in a:
    if i!=0:
      print(i)

1
2
3
4
5
6
7
8
9
10

# break

In [20]:
data = ['Sakshi','Iqbal','Gagan','Musharraf','','Utkarsh']

In [21]:
for name in data:
    if len(name)==0:
        break
    print(name)

Sakshi
Iqbal
Gagan
Musharraf

In [23]:
data= ''
while True:
    line= input('Enter a line:')
    if line:
        data+=line + '\n'
    else:
        break
print(data)

j j y p
e s n p
t l n p
o y m
h h h

# Special loop

In [25]:
fruits = ['apple','banana','mango']
for fruit in fruits:
    print('we have',fruit)
else:
    print('thats all')

we have apple
we have banana
we have mango
thats all

In [27]:
num=int(input('Enter a number greater than 1:'))
for i in range(2,num):
    if num%i == 0:
        print('Not a prime number')
        break
else:
    print('Prime number')

Not a prime number