- List 
    - sequential (ordered)
    - mixed datatype (heterogenous)
    - can be empty
    - can have duplicates
    - is mutable (we can add or remove elements)
    - represented as `[]` in python
    - `list` function creates a list

what you are going to learn
- creation
- indexing and slicing
- methods
- comprehension

In [ ]:
a = []  # empty list

In [ ]:
b = [23,34,12,56,78]   # numeric list
c = ['Alex','Ana','Billy']   # string
d = ['Alex',300,'Ana',320,'Billy',230]  # mixed
e = [[1,2,3],[2,3,4],[4,5,6]]  # nested list (list within a list)
f = [1] * 10   # duplicated list

In [ ]:
print(b)
print(c)
print(d)
print(e)
print(f)

[23, 34, 12, 56, 78]
['Alex', 'Ana', 'Billy']
['Alex', 300, 'Ana', 320, 'Billy', 230]
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
for i in d:
    print(i,end=' ')

Alex 300 Ana 320 Billy 230

In [ ]:
word = 'wikipedia'
charlist = list(word)
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [ ]:
charlist[-1]

'a'

In [ ]:
charlist[0]

'w'

In [ ]:
charlist[:4]

['w', 'i', 'k', 'i']

In [ ]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [ ]:
charlist[::-1]

['a', 'i', 'd', 'e', 'p', 'i', 'k', 'i', 'w']

In [ ]:
charlist.reverse()

list has 11 methods
- adding items
    - append()
    - insert()
    - extend()
- removing items
    - remove()
    - pop()
    - clear()
- utility functions
    - reverse()
    - count()
    - index() 
    - copy()
    - sort()

In [ ]:
numbers = []
numbers.append(2)
numbers.append(3)
numbers.append(5)
print(numbers)

[2, 3, 5]

In [ ]:
for i in range(5):
    v = int(input("Enter a number:"))
    numbers.append(v)
    print(numbers)

[2, 3, 5, 6]
[2, 3, 5, 6, 7]
[2, 3, 5, 6, 7, 12]
[2, 3, 5, 6, 7, 12, 18]
[2, 3, 5, 6, 7, 12, 18, 76]

In [ ]:
print(numbers)

[2, 3, 5, 6, 7, 12, 18, 76]

In [ ]:
numbers.remove(6)

In [ ]:
print(numbers)

[2, 3, 5, 7, 12, 18, 76]

In [ ]:
numbers.insert(2,4)
print(numbers)

[2, 3, 4, 5, 7, 12, 18, 76]

In [ ]:
numbers.insert(5,10)
print(numbers)

[2, 3, 4, 5, 7, 10, 12, 18, 76]

In [ ]:
numbers.insert(23,31)  # insert at index 23 will put the data at the end of the list, as we don't have index 23 in list
print(numbers)

[2, 3, 4, 5, 7, 10, 12, 18, 76, 31]

In [ ]:
numbers.pop(3)  # remove the data at inde 3

7

In [ ]:
print(numbers)

[2, 3, 4, 10, 12, 18, 76, 31]

In [ ]:
numbers.pop()   # removes the last item

31

In [ ]:
print(numbers)

[2, 3, 4, 10, 12, 18, 76]

In [ ]:
numbers.clear()
print(numbers)

[]

In [ ]:
x = [1,2,3]
y =[2,3,5]
# merge a list into another
x.extend(y)
print(x)
print(y)
x.append(y)
print(x)

[1, 2, 3, 2, 3, 5]
[2, 3, 5]
[1, 2, 3, 2, 3, 5, [2, 3, 5]]

In [ ]:
z = x+ y
print(z)

[1, 2, 3, 2, 3, 5, [2, 3, 5], 2, 3, 5]

In [ ]:
del b   # removes the variable from the memory as well

In [ ]:
del d,e,f,i,numbers,charlist,v,word,x,y

In [ ]:
primes=[]
for num in range(2,1000):
    for i in range(2,num):
        if num % i ==0:
            break
    else:
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

### wap to calculate the total of a list, where the values are entered by user.

### wap to remove every 3 item from a list

### wap to add every 3 item from a list, and store the result at the end of the list

In [ ]:
# total of a list where values are entered by user
numbers = []
total = 0
for i in range(5):
    v = int(input("Enter a number:"))
    numbers.append(v)
print(numbers)
for j in numbers:
        total = j + total
print(total)

[1, 2, 3, 4, 5]
15

In [12]:
# total of a list where values are entered by user
numbers = []
for i in range(5):
    v = int(input("Enter a number:"))
    numbers.append(v)
print(numbers)
total = sum(numbers)          # sum is predefined
print("Total=>",total)

[1, 2, 3, 4, 5]
Total=> 15

### Enumerate function

In [13]:
for i,v in enumerate(numbers):
    print(i,v)

0 1
1 2
2 3
3 4
4 5

In [16]:
# to remove every 3rd element from the list
a = [11,22,33,44,55,66,77,88,99,100]
ev3 = []
for i,v in enumerate(a):
    pos=i+1
    if pos%3==0:
        ev3.append(v)
print(ev3)
for item in ev3:
    a.remove(item)
print(a)

[33, 66, 99]
[11, 22, 44, 55, 77, 88, 100]

In [20]:
# add every 3rd element and store the result at the end
a = [11,22,33,44,55,66,77,88,99,100]
ev3 = []
total=0
for i,v in enumerate(a):
    pos=i+1
    if pos%3==0:
        ev3.append(v)
print(ev3)
for item in ev3:
    total=item+total
a.append(total)
print(a)

[33, 66, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 100, 198]

### functions cont.

In [21]:
x = [1,2,3,2,3,1,2,3,2,1,2,3,2,1,2,3]

In [22]:
x.count(3)

5

In [23]:
x.count(5)

0

In [24]:
names = ['Desmond','Alex','Samus','Jerry','Freddy','August']
names.index('Alex')

1

In [25]:
names.index('August')

5

In [26]:
names.reverse()
print(names)

['August', 'Freddy', 'Jerry', 'Samus', 'Alex', 'Desmond']

In [27]:
names.sort()
print(names)

['Alex', 'August', 'Desmond', 'Freddy', 'Jerry', 'Samus']

In [28]:
x.sort()
print(x)

[1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3]

In [29]:
x.sort(reverse=True)
print(x)

[3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1]

In [30]:
names.sort(reverse=True)
print(names)

['Samus', 'Jerry', 'Freddy', 'Desmond', 'August', 'Alex']

In [31]:
backup = names # reference t the same list

In [32]:
backup_v2 = names.copy()  # copy the list

In [33]:
names.remove('Samus')

In [34]:
backup_v2.append('Markus')

In [35]:
print(names)
print(backup)
print(backup_v2)

['Jerry', 'Freddy', 'Desmond', 'August', 'Alex']
['Jerry', 'Freddy', 'Desmond', 'August', 'Alex']
['Samus', 'Jerry', 'Freddy', 'Desmond', 'August', 'Alex', 'Markus']