- List 
    - sequential (ordered)
    - mixed datatype (heterogenous)
    - can be empty
    - can have duplicates
    - is mutable (we can add or remove elements)
    - represented as `[]` in python
    - `list` function creates a list

what you are going to learn
- creation
- indexing and slicing
- methods
- comprehension

In [1]:
a = []  # empty list

In [3]:
b = [23,34,12,56,78]   # numeric list
c = ['Alex','Ana','Billy']   # string
d = ['Alex',300,'Ana',320,'Billy',230]  # mixed
e = [[1,2,3],[2,3,4],[4,5,6]]  # nested list (list within a list)
f = [1] * 10   # duplicated list

In [4]:
print(b)
print(c)
print(d)
print(e)
print(f)

[23, 34, 12, 56, 78]
['Alex', 'Ana', 'Billy']
['Alex', 300, 'Ana', 320, 'Billy', 230]
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
for i in d:
    print(i,end=' ')

Alex 300 Ana 320 Billy 230

In [7]:
word = 'wikipedia'
charlist = list(word)
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [11]:
charlist[-1]

'a'

In [12]:
charlist[0]

'w'

In [13]:
charlist[:4]

['w', 'i', 'k', 'i']

In [14]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [15]:
charlist[::-1]

['a', 'i', 'd', 'e', 'p', 'i', 'k', 'i', 'w']

In [18]:
charlist.reverse()

list has 11 methods
- adding items
    - append()
    - insert()
    - extend()
- removing items
    - remove()
    - pop()
    - clear()
- utility functions
    - reverse()
    - count()
    - index() 
    - copy()
    - sort()

In [29]:
numbers = []
numbers.append(2)
numbers.append(3)
numbers.append(5)
print(numbers)

[2, 3, 5]

In [30]:
for i in range(5):
    v = int(input("Enter a number:"))
    numbers.append(v)
    print(numbers)

[2, 3, 5, 6]
[2, 3, 5, 6, 7]
[2, 3, 5, 6, 7, 12]
[2, 3, 5, 6, 7, 12, 18]
[2, 3, 5, 6, 7, 12, 18, 76]

In [32]:
print(numbers)

[2, 3, 5, 6, 7, 12, 18, 76]

In [33]:
numbers.remove(6)

In [34]:
print(numbers)

[2, 3, 5, 7, 12, 18, 76]

In [36]:
numbers.insert(2,4)
print(numbers)

[2, 3, 4, 5, 7, 12, 18, 76]

In [37]:
numbers.insert(5,10)
print(numbers)

[2, 3, 4, 5, 7, 10, 12, 18, 76]

In [38]:
numbers.insert(23,31)  # insert at index 23 will put the data at the end of the list, as we don't have index 23 in list
print(numbers)

[2, 3, 4, 5, 7, 10, 12, 18, 76, 31]

In [40]:
numbers.pop(3)  # remove the data at inde 3

7

In [41]:
print(numbers)

[2, 3, 4, 10, 12, 18, 76, 31]

In [42]:
numbers.pop()   # removes the last item

31

In [43]:
print(numbers)

[2, 3, 4, 10, 12, 18, 76]

In [44]:
numbers.clear()
print(numbers)

[]

In [49]:
x = [1,2,3]
y =[2,3,5]
# merge a list into another
x.extend(y)
print(x)
print(y)
x.append(y)
print(x)

[1, 2, 3, 2, 3, 5]
[2, 3, 5]
[1, 2, 3, 2, 3, 5, [2, 3, 5]]

In [50]:
z = x+ y
print(z)

[1, 2, 3, 2, 3, 5, [2, 3, 5], 2, 3, 5]

In [53]:
del b   # removes the variable from the memory as well

In [54]:
del d,e,f,i,numbers,charlist,v,word,x,y

In [56]:
primes=[]
for num in range(2,1000):
    for i in range(2,num):
        if num % i ==0:
            break
    else:
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]