# Tuple

In [5]:
# tuple with mixed datatypes
my_tuple = (1,"Hello",3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [3]:
# nested tuple
my_tuple = ("mouse",[8,4,6],[1,2,3])
print(my_tuple)

('mouse', [8, 4, 6], [1, 2, 3])

In [4]:
# A tuple can also be created without parantheses.
# This is known as tuple packing
my_tuple = 3, 4.6, "Apple"
print(my_tuple)

(3, 4.6, 'Apple')

### operations in tuple

In [7]:
# Concatenation
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [8]:
# Repeat
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [9]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

# Set

In [10]:
# set of integers
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [11]:
# set of mixed datatypes
my_set = {1.0, "Oye", (1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'Oye'}

In [ ]:
my_set = {1,2,[3,4]}    #set cannot have mutable items
# here [3,4] is a mutable list, this will cause an error

In [13]:
# set cannot have duplicates
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [14]:
# initialize a with set()
a = set()
print(type(a))

<class 'set'>

In [15]:
# initialization
my_set = {1,3}
print(my_set)

{1, 3}

In [16]:
# add an element
my_set.add(2)
print(my_set)

{1, 2, 3}

In [17]:
# add multiple elements
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [18]:
# add list and set
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

### Removing items from a set

#### discard function is better than remove function as it does not give an error if the element is not present

In [27]:
my_set = {1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [28]:
# discard an element
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [29]:
# remove an element
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [30]:
# pops a random item 
my_set.pop()
print(my_set)

{3, 5}

In [31]:
# clear my_set
my_set.clear()
print(my_set)

set()

In [32]:
my_set.discard(1)
print(my_set)

set()

### operations on set

In [33]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [34]:
# use | operator for union
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
# use union function
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
# use union function on B
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
# use & operator for intersection
print(A & B)

{4, 5}

In [38]:
# or use intersection function
A.intersection(B)

{4, 5}

In [39]:
# use - operator on A for set difference
print(A-B)

{1, 2, 3}

In [40]:
# use difference function on A
A.difference(B)

{1, 2, 3}

In [41]:
# use ^ operator of set symmetric difference
print(A^B)

{1, 2, 3, 6, 7, 8}

In [42]:
# use symmetric difference function on A
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [51]:
A = set()
for i in range(10):
    i = input("Enter a value:")
    A.add(i)
print(A)

{'1', '6', '7', '4', '3', '9', '10', '8', '5', '2'}